<%- include('partials/header') %>

<body>
  <%- include('partials/navbar') %>
 
      <% videos.forEach((video) => { %>
        <div class="card w-96 bg-base-100 shadow-xl">
          <figure><img src="<%= video.thumbnail %>"  /></figure>
          <div class="card-body">
            <h2 class="card-title"><%= video.title %> </h2>
            <p><%= video.year %></p>
            <div class="card-actions justify-end">
              <a href="/videos/<%=video.id%>" class="btn btn-primary"><%=video.id%></a>
              <button class="btn btn-secondary">Add to Playlist</button>
            </div>
          </div>
        </div>

      <% }) %>

</body>
</html>